<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logmein!</title>
    <link rel="stylesheet" href="static/css/materialize.css">
    <style>
        form {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="container">
            <a href="/">Home</a>
        </div>
    </nav>
    <div class="container">
        <div class="timeout">
            {% if message %}
            <h3>{{ message }}</h3>
            {% endif %}
        </div>
        {% if user_logged_in %}
        <div class="timeout">
            <h3>You are logged in!</h3>
        </div>
        {% else %}
        <form action="/login">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input class="btn" type="submit" value="Login">
            <a href="/signupform" class="btn" type="button">Sign up</a>
        </form>
    </div>
    {% endif %}
    <script src="static/js/app.js"></script>
</body>

</html>