<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logmein!</title>
    <link rel="stylesheet" href="static/css/materialize.css">
    <style>
        form {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="container">
            <a href="/">Home</a>
        </div>
    </nav>
    <div class="container">
        <form action="/create_widget">
            <label for="description"></label>
            <input type="text" name="description">
            <input class="btn" type="submit" value="Create Widget">
        </form>
    </div>
</body>

</html>